<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/icon.png" style="max-width: 30px;">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()"><ion-icon slot="icon-only" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-cart-button></app-cart-button>
  <app-search></app-search>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let company of companies">
        <ion-card (click)="goProductCategories(company.company.id)">
          <div class="square-image">
            <img alt="{{ company.company.name }}"
              src="{{ company.company.logo ? company.company.logo.original_url : 'https://via.placeholder.com/300x300?text=' + company.company.name }}" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>